<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.vikingden.notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- INTENT PACKAGE SAMPLES -->
        <!-- ************************************* -->

        <activity
            android:name=".intent.ResolveActivity"
            android:label="@string/activity_intent_resolve">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- UI PACKAGE SAMPLES -->
        <!-- ************************************* -->
        <activity
            android:name=".ui.notification.NotificationCompatActivity"
            android:label="@string/activity_notification_compat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.material.ToolBarActivity"
            android:theme="@style/ToolBarActivityTheme"
            android:label="@string/activity_toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.material.AppbarLayoutActivity"
            android:theme="@style/ToolBarActivityTheme"
            android:label="@string/activity_appbar_layout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.material.CollapsingToolBarLayout"
            android:theme="@style/ToolBarActivityTheme"
            android:label="@string/activity_collapsing_toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.material.NavigationDrawerActivity"
            android:theme="@style/ToolBarActivityTheme"
            android:label="@string/activity_navigation_drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.material.TabLayoutActivity"
            android:theme="@style/ToolBarActivityTheme"
            android:label="@string/activity_tab_layout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- UI/Drawables SAMPLES -->
        <!-- ************************************* -->
        <activity
            android:name=".ui.drawables.VectorDrawableActivity"
            android:theme="@style/dialog"
            android:label="@string/ui_drawable_vector_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- Content PACKAGE SAMPLES -->
        <!-- ************************************* -->
        <activity
            android:name=".content.RuntimePermissionActivity"
            android:label="@string/label_runtime_permission">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- Security PACKAGE SAMPLES -->
        <!-- ************************************* -->
        <activity
            android:name=".security.NoScreenShotActivity"
            android:label="@string/label_security_screenshot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- ************************************* -->
        <!-- Performance PACKAGE SAMPLES -->
        <!-- ************************************* -->
        <activity
            android:name=".performance.OverDrawActivity"
            android:label="@string/label_perf_overdraw">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>